html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #FBFBF3
}

.gradient-custom {
    background: linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1))
}

.customMargin{
    margin: 5px;
}

.purple-background {
    background-color: #A155B9
}

.text-dark-blue{
    color: #0B1354
}

.text-blue{
    color: #165BAA
}

.text-pink{
    color: #F765A3
}
