@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли</h1>
    <p>EduExplore се стреми да улесни родителите на територията на град София при избора им на детска градина или училище.</p>
    <img src="images/backpack.png" class="img-fluid"/>
</div>
