@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-pink text-center">Добре дошли!</h1>
    <p class="text-purple text-center">EduExplore се стреми да улесни родителите на територията на град София при избора им на детска градина или училище. За целта е предоставена възможността да се филтрира избраната образователна институция по желания от вас критерий - населено място, регион, вид на институцията, детайлен вид на институцията и начин на финансиране.</p>
    <img src="images/backpack.png" class="img-fluid"/>
</div>
