@model AllNamedCharacteristicsViewModel

<h1 class="text-pink text-center">Моля изберете детайлния вид на училището: </h1>

<div class="row justify-content-center">
    @foreach (var characteristic in Model.Characteristics)
    {
        <partial name="DetailedInstitutionTypeSchoolPartial" model="@characteristic"></partial>
    }
</div>
