@model AllNamedCharacteristicsViewModel

<h1 class="text-pink text-center">Моля изберете вида на финансиране на детската градина: </h1>

<div class="row justify-content-center">
    @foreach (var characteristic in Model.Characteristics)
    {
        <partial name="FinancialTypeKindergartenPartial" model="@characteristic"></partial>
    }
</div>
