@model AllNamedCharacteristicsViewModel

<h1 class="text-pink text-center">Моля изберете регион: </h1>

<div class="row justify-content-center">
    @foreach (var characteristic in Model.Characteristics)
    {
        <partial name="RegionPartial" model="@characteristic"></partial>
    }
</div>
