@using EduExplore.Core.Models
@model NamedCharacteristicListViewModel


<div class="card d-inline-flex text-light text-center purple-background customMargin" style="width: 15em;">
    <h5><a class="text-light" href="@Url.Action("AllSchoolsByFinancialType", "School", new {financialTypeId = @Model.Id})">@Model.Name</a></h5>
</div>
